<a href="https://colab.research.google.com/github/iqraceme/60_Days_of_Udacity/blob/master/C_Python_Revision_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas

Pandas is a open source library built on top of NumPy. It allows for fast analysis and data cleaning and preparation. It excels in performance and productivity. It also has built-in visualization features. It can work with data from a wide variety of sources.

### Pandas Series

In [0]:
# importing pandas and numpy


import numpy as np
import pandas as pd

In [0]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(data)
d = {'a':10,'b':20,'c':30}

In [0]:
pd.Series(data = d)

a    10
b    20
c    30
dtype: int64

In [0]:
pd.Series(data = my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [0]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [0]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [0]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [0]:
d

{'a': 10, 'b': 20, 'c': 30}

In [0]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [0]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [0]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [0]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [0]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [0]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [0]:
ser1['Germany']

2

In [0]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

### DataFrames

In [0]:
import numpy as np
import pandas as pd

In [0]:
from numpy.random import randn

In [0]:
np.random.seed(101)

In [0]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [0]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [0]:
type(df['W'])

pandas.core.series.Series

In [0]:
type(df)

pandas.core.frame.DataFrame

In [0]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [0]:
df['X']

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [0]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [0]:
df['new'] = df['W'] + df['Y']

In [0]:
df['new']

A    3.614819
B   -0.196959
C   -1.489355
D   -0.744542
E    2.796762
Name: new, dtype: float64

In [0]:
df['new'] = df['W'] ++ df['Y']

In [0]:
df['new']

A    3.614819
B   -0.196959
C   -1.489355
D   -0.744542
E    2.796762
Name: new, dtype: float64

In [0]:
df.drop('new',axis = 1,inplace=True)

In [0]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [0]:
df.shape

(5, 4)

In [0]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df[['Z','X']]

          Z         X
A  0.503826  0.628133
B  0.605965 -0.319318
C -0.589001  0.740122
D  0.955057 -0.758872
E  0.683509  1.978757

In [0]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [0]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [0]:
df.loc['B','Y']

-0.8480769834036315

In [0]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077